<section class="card">
  <header>
    <h1 id="post-title">Post Title: {{title}}</h1>
  </header>
  <div class="card-body">
    <h3>Post Description: {{body}}</h1>
      <p>Posted by: {{user.userName}}</p>
      <p>Date Posted: {{createdAt}}</p>
  </div>

  {{!-- {{#if logged_in}}  --}}
  <span>Leave a Comment!</span> </br>
  <textarea type="text" id="newComment-body"></textarea> </br>
  <button id="newComment-btn">Save</button>
  {{!-- {{/if}} --}}

  {{#each userComments as |comments|}}
  {{> comments}}
  {{/each}}

  </div>
</section>